<!--=== Header ===-->
<nav class="one-page-header navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="menu-container page-scroll">

			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand">
				<span class="red-span">M</span>irus <span>E</span>nergy
				<!-- <img src="assets/img/logo-sm.png" alt="Logo">-->
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<div class="menu-container">
				<ul class="nav navbar-nav">
					<li class="page-scroll home">
						<a href="#body">Home</a>
					</li>
					<li class="page-scroll">
						<a href="#mission">Mission</a>
					</li>
					<li class="page-scroll">
						<a href="#about">Our team</a>
					</li>
					<li class="page-scroll">
						<a href="#news">News</a>
					</li>
					<li class="page-scroll">
						<a href="#contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>
<!--=== End Header ===-->

<!-- Interactive Slider v2 -->
<div class="interactive-slider-v2">
    <div class="container">
        <h1>Welcome to Mirus Energy</h1>
        <p>The future of energy.</p>
    </div>
</div>
<!-- End Interactive Slider v2 -->

<div class="container content-sm">
  <!-- Service Box -->
		<div class="row text-center margin-bottom-60 ">
				<div class="col-md-4 md-margin-bottom-50">
						<img class="image-md margin-bottom-20" src="<%= asset_url('icons/flat/01.png')%>" alt="">
						<h1 class="title-v3-md margin-bottom-10">Factoid 1</h1>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cur modo, tortor mauris con</p>
				</div>
				<div class="col-md-4 flat-service md-margin-bottom-50">
						<img class="image-md margin-bottom-20" src="<%= asset_url('icons/flat/02.png')%>" alt="">
						<h2 class="title-v3-md margin-bottom-10">Interesting factoid 2</h2>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cur modo, tortor mauris con</p>
				</div>
				<div class="col-md-4 flat-service">
						<img class="image-md margin-bottom-20" src="<%= asset_url('icons/flat/03.png')%>" alt="">
						<h2 class="title-v3-md margin-bottom-10">One last catcher</h2>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cur modo, tortor mauris con</p>
				</div>
		</div>
		<!-- End Service Box -->
		<!-- Owl Clients v1 -->
		<div class="headline"><h2>Funding Partners</h2></div>
		<div class="owl-clients-v1">
				<div class="item">
					<img src="<%= asset_url('clients4/1.png')%>" alt="">
				</div>
				<div class="item">
					<img src="<%= asset_url('clients4/2.png')%>" alt="">
				</div>
				<div class="item">
					<img src="<%= asset_url('clients4/3.png')%>" alt="">
				</div>
				<div class="item">
					<img src="<%= asset_url('clients4/4.png')%>" alt="">
				</div>
				<div class="item">
					<img src="<%= asset_url('clients4/5.png')%>" alt="">
				</div>
				<div class="item">
					<img src="<%= asset_url('clients4/6.png')%>" alt="">
				</div>
				<div class="item">
					<img src="<%= asset_url('clients4/7.png')%>" alt="">
				</div>
				<div class="item">
					<img src="<%= asset_url('clients4/8.png')%>" alt="">
				</div>
				<div class="item">
					<img src="<%= asset_url('clients4/9.png')%>" alt="">
				</div>
		</div>
		<!-- End Owl Clients v1 -->
</div><!--/container -->
<hr class="divider divider-db-dashed">

<!--  Mission Section -->
<section id="mission" class="mission-section section-first">
	<div class="container content-sm">
		<div class="heading heading-v1 margin-bottom-40">
			<h2>Our Vision And Mission</h2>
			<p>We <strong>meet</strong> and get to know you. You tell us and we listen. <br>
			We build your website to realise your vision and we <strong>deliver</strong> the ready product.</p>
		</div>

		<div class="row">
			<div class="col-md-6 content-boxes-v3 margin-bottom-40">
				<div class="clearfix margin-bottom-30">
					<i class="icon-custom icon-md rounded-x icon-bg-u fa fa-trophy"></i>
					<div class="content-boxes-in-v3">
						<h2 class="heading-sm">Innovation Leader</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
					</div>
				</div>
				<div class="clearfix margin-bottom-30">
					<i class="icon-custom icon-md rounded-x icon-bg-u fa fa-anchor"></i>
					<div class="content-boxes-in-v3">
						<h2 class="heading-sm">Best Solutions &amp; Approaches</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
					</div>
				</div>
				<div class="clearfix margin-bottom-30">
					<i class="icon-custom icon-md rounded-x icon-bg-u fa fa-line-chart"></i>
					<div class="content-boxes-in-v3">
						<h2 class="heading-sm">Quality Service &amp; Support</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<img class="img-responsive" src="<%= asset_url('mockup/img2.jpg')%>" alt="">
			</div>
		</div>
	</div>
</section>
<!--  Mission Section -->


<!--  About Section -->
<section id="about" class="about-section section-first">
  <div class="team-v1 bg-grey content-sm">
		<div class="container">
			<div class="heading heading-v1 margin-bottom-40">
				<h2>Meet Our Team</h2>
				<p>Professional bullshitters.</p>
			</div>

			<ul class="list-unstyled row">
        <% User.each do |user| %>
  				<li class="col-sm-3 col-xs-6 md-margin-bottom-40">
  					<div class="team-img">
              <%= link_to image_tag("team/"+user.img_name, :class=>"img-responsive"), user_path(user) %>
  						<ul>
  							<li> <a href="<%= user_path(user) %>" class="btn-u btn-u-red" role="button"><i class="fa fa-users"></i> See more</a></li>
  						</ul>
  					</div>
  					<h3><%= link_to user.name, user_path(user) %></h3>
  					<h4>/ <%= user.position %></h4>
            <p> <%= user.description %> info </p>
  				</li>
        <% end %>
			</ul>
      <a href="<%= users_path %>" class="btn-u btn-u-blue" role="button"><i class="fa fa-users"></i> Meet the rest</a>
    </div>

    <hr class="divider divider-db-dashed">

		<div class="container">
			<div class="heading heading-v1 margin-bottom-40">
				<h2>Together, we are Mirus Energy</h2>
				<p>ULorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <strong>Excepteur</strong> sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="img-center">
				<img class="img-responsive" src="<%= asset_url('mockup/img1.jpg')%>" alt="">
			</div>
		</div>
	</div>



</section>
<!--  About Section -->


<!-- News Section -->
<section id="news" class="news-section">
	<div class="container content-sm ">
		<div class="heading heading-v1 margin-bottom-40">
			<h2>News from Mirus Energy</h2>
			<p>Mirus Energy has been in the news maybe I guess at some time <br>
				Here are links to those news clips or whatever.</p>
		</div>

    <div class="row news-v1">
    <% @articles.each do |article| %>

			<div class="col-md-4 md-margin-bottom-40">
				<div class="news-v1-in tag-box box-shadow shadow-effect-2">
          <% if article.header_img_name %>
            <%= link_to image_tag(article.header_img_name, :class=>"img-responsive"), article_path(article) %>
          <% else %>
            <%= link_to image_tag('logo.png', :class=>"img-responsive"), article_path(article) %>
          <% end %>
					<h3><%= link_to article.title, article_path(article) %></h3>
					<p><%= sanitize(truncate(article.body, length: 150)) %> <%= link_to "read more", article_path(article), { :class=>"r-more" } %></p>
					<ul class="list-inline news-v1-info">
						<li><span>By</span> <%= link_to article.user.name, user_path(article.user.id) %></li>
						<li>|</li>
						<li><i class="fa fa-clock-o"></i> <%= article.date %></li>
					</ul>
				</div>
			</div>
    <% end %>
		</div>
    <a href="<%= request.base_url %>/articles/" class="btn-u btn-u-blue" role="button"><i class="fa fa-newspaper-o"></i> Read all articles</a>
  </div>

	<div class="parallax-twitter parallaxBg">
		<div class="container parallax-twitter-in">
			<div class="margin-bottom-30">
				<i class="icon-custom rounded-x icon-bg-blue fa fa-twitter"></i>
			</div>
		</div>
	</div>
</section>
<!-- End News Section -->


<!-- Contact Section -->

<!--=== Content Part ===-->
<section id="contact" class="contact-section">
<div class="container content-sm">
    <div class="row margin-bottom-30">
			<div class="heading heading-v1 margin-bottom-40">
				<h2>Contact Us</h2>
			</div>
        <div class="col-md-8 col-md-offset-2 mb-margin-bottom-30">
            <!-- Google Map -->
            <!-- <div id="map" class="map map-box map-box-space margin-bottom-40"></div> -->
            <!-- End Google Map -->

            <!-- Contact start -->
            <div class="headline"><h2> Send us a message</h2></div>
						<form id="contact-form" action="javascript:void(0);" role="form" novalidate="">

							<div class="form-group">
								<label class="sr-only" for="cname">Name</label>
								<input type="text" id="cname" class="form-control" name="Name" placeholder="Name*" required="" data-validation-required-message="Please enter your name.">
								<p class="help-block text-danger"></p>
							</div>

							<div class="form-group">
								<label class="sr-only" for="cemail">Your Email</label>
								<input type="email" id="cemail" name="Email" class="form-control" placeholder="Your E-mail*" required="" data-validation-required-message="Please enter your email address.">
								<p class="help-block text-danger"></p>
							</div>

							<div class="form-group">
								<textarea class="form-control" id="cmessage" name="Message" rows="7" placeholder="Message*" required="" data-validation-required-message="Please enter your message."></textarea>
								<p class="help-block text-danger"></p>
							</div>

							<input type="text" name="_gotcha" style="display:none" />
							<!-- <input type="hidden" name="_next" value="#" /> -->
							<input type="hidden" name="_subject" value="Hello from Mirus Energy">

							<div class="text-center">
								<button type="submit" class="btn btn-block btn-round btn-d" value="Send">Submit</button>
							</div>

						</form>
        		<!-- Contact end -->
        </div><!--/col-md-9-->
    </div><!--/row-->
</div><!--/container-->
</section>

<!-- End Contact Section -->
