
<!--=== Header ===-->
<nav class="one-page-header navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">

		<div class="menu-container page-scroll">

			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand">
				<span class="red-span">M</span>irus <span>E</span>nergy
				<!-- <img src="assets/img/logo-sm.png" alt="Logo">-->
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<div class="menu-container">
				<ul class="nav navbar-nav">
					<li>
						<%= link_to "Home", root_url, method: :get %>
					</li>
				</ul>
			</div>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>
<!--=== End Header ===-->

<div class="container content-sm">
</div>
<!--=== Team block 1 ===-->
<div class="container content-sm">
  <div class="headline-center margin-bottom-30">
      <h1>ACCOUNT DIRECTORS</h1>
      <p>Phasellus vitae ipsum ex. Etiam eu vestibulum ante. <br>
      Lorem ipsum <strong>dolor</strong> sit amet, consectetur adipiscing elit. Morbi libero libero, imperdiet fringilla </p>
  </div>
  <div class="team-v4">
    <ul class="list-unstyled row">
      <% @users.each_with_index do |user, index| %>
        <li class="col-sm-4 col-xs-1">
          <div class="team-img">
            <%= link_to image_tag("team/"+user.img_name, :class=>"img-responsive"), user_path(user) %>
          </div>
          <h3><%= link_to user.name, user_path(user) %></h3>
          <h4>/ <%= user.position %></h4>
          <p>Technical Director mi porta gravida at eget metus id elit mi egetine...</p>
          <ul class="list-inline team-social-v4">
            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<!--=== End Team block 1 ===-->

<hr class="divider divider-db-dashed">

<!--=== Team block 2 ===-->
<div class="container content-sm">
  <div class="headline-center margin-bottom-30">
      <h1>FOLLOWERS</h1>
      <p>Phasellus vitae ipsum ex. Etiam eu vestibulum ante. <br>
      Lorem ipsum <strong>dolor</strong> sit amet, consectetur adipiscing elit. Morbi libero libero, imperdiet fringilla </p>
  </div>
  <div class="team-v4">
    <ul class="list-unstyled row">
      <% @users.each_with_index do |user, index| %>
        <li class="col-sm-3 col-xs-2">
          <div class="team-img">
            <%= link_to image_tag("team/"+user.img_name, :class=>"img-responsive"), user_path(user) %>
          </div>
          <h3><%= link_to user.name, user_path(user) %></h3>
          <h4>/ <%= user.position %></h4>
          <p>Technical Director mi porta gravida at eget metus id elit mi egetine...</p>
          <ul class="list-inline team-social-v4">
            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<!--=== End Team block 2 ===-->
